* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yantramanav', sans-serif;
}

.body{
 /* position: inherit;
  display: inherit;*/

  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

#root {
  height: 100%;
  margin: 5px;
  position: inherit;
}

.banner {
  background-image: url(http://demo.roadthemes.com/selena/wp-content/uploads/2016/11/4_1.jpg);
  background-position: center;
  color: whitesmoke;
}

.footer {
  margin-top: 5px;
  padding: 5px;
  background-color: #334b35;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  position:fixed;

};




